

<a href="button.html">button</a>
<link rel="stylesheet" href="../components/alert/simpleAlert.css">
<link rel="stylesheet" href="../components/button/button.css">
<br><br>
<div class="container">
    <h4><code>Sistema de alert</code></h4><br>
    <div class="neo-alert">Alerta de danger simples</div>
    <div class="neo-alert neo-alert-danger"><code>neo-alert neo-alert-danger</code></div>
    <div class="neo-alert neo-alert-info"><code>neo-alert neo-alert-info</code></div>
    <div class="neo-alert neo-alert-success"><code>neo-alert neo-alert-success</code></div>
    <div class="neo-alert neo-alert-warning"><code>neo-alert neo-alert-warning</code></div>
    <div class="neo-alert neo-alert-error"><code>neo-alert neo-alert-error</code></div>

    <h4>sistema de alert com botao</h4><br>
    <div class="neo-alert neo-alert-danger">
        <p><strong>Atenção!</strong> Este é um alerta de danger com botão de fechar.</p>
        <button class="neo-btn neo-btn-small neo-btn-close" onclick="this.parentElement.style.display='none';">&times;</button>
    
    </div>    <br>



   <pre>
<code>
    &lt;h4&gt;sistema de alert com botao&lt;/h4&gt;&lt;br&gt;
    &lt;div class="neo-alert neo-alert-danger"&gt;
        &lt;p&gt;&lt;strong&gt;Atenção!&lt;/strong&gt; Este é um alerta de danger com botão de fechar.&lt;/p&gt;
        &lt;button class="neo-btn neo-btn-small neo-btn-close" onclick="this.parentElement.style.display='none';"&gt;&amp;times;&lt;/button&gt;
    &lt;/div&gt;
        </code>
    </pre>
</div>