
<a href="alert.html">Alert</a>
<link rel="stylesheet" href="../components/button/button.css">
<link rel="stylesheet" href="../components/button/groupbtn.css">
<br><br><br>
<div class="container">
<style>p{margin:6px 0px}</style>

    <p>exemplo de botoes com a biblioteca neo css</p><br>

    <a href="" class="neo-btn">buttom 01</a> <code> class="neo-btn"  padrao de tamanho pra botoes</code>
    <p><code>tamanho dos botoes</code></p>

    <a href="" class="neo-btn neo-btn-small">buttom small</a> <code> class="neo-btn neo-btn-small"  padrao pra botoes pequenos</code><br><br>

    <a href="" class="neo-btn neo-btn-large">buttom small</a> <code> class="neo-btn neo-btn-large"  padrao pra botoes grandes</code>
    <br><br>
    <a href="" class="neo-btn neo-btn-circle"> +sw</a> <code> class="neo-btn neo-btn-circle"  botao circular</code>
    <br><br>
    <a href="" class="neo-btn neo-btn-block"> buttom block</a> <code> class="neo-btn neo-btn-block"  botao block</code>
        <br><br>
    <a href="" class="neo-btn neo-btn-active"> buttom ao clicar</a> <code> class="neo-btn neo-btn-active"  botao efeito click</code>
<br><br>
    <h3><code>Grupo de botao</code></h3><br>
    <!-- grupo de botoes -->
     <p><code>classe neo-btn-group dentro dele a neo-btn posicao horizontal</code></p>
    <div class="neo-btn-group">
        <a href="" class="neo-btn">link 1</a>
        <a href="" class="neo-btn">link 2</a>
        <a href="" class="neo-btn">link 3</a>
    </div>

         <p><code>classe neo-btn-group-vertical dentro dele a neo-btn posicao horizontal</code></p>
    <div class="neo-btn-group-vertical">
        <a href="" class="neo-btn neo-btn-active">link 1</a>
        <a href="" class="neo-btn">link 2</a>
        <a href="" class="neo-btn">link 3</a>
    </div>
















<br><br><br><br><br><br>
</div>

