*{margin:0;padding: 0;box-sizing: border-box;}
.container{max-width: 900px;margin: auto;}
button{border:none;background-color: inherit;}
:root {
    /* Essa curva faz o botão "encolher" rápido e voltar com um leve balanço */
    --neo-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
    --neo-transition: 0.2s var(--neo-bounce);
}

/* padrao do botao */
.neo-btn{
    display: inline-block;
    line-height: normal;
    font-size: 16px!important;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    text-decoration: none;
    color: inherit;
    /* border:1px solid #000; */
    padding:12px;
    &:hover{background-color: #b3b3b3;}

}
/* tamanho dos botoes */
.neo-btn-small{font-size: 14px;padding:5px;}
.neo-btn-large{font-size: 20px;padding:15px;}
.neo-btn-medium{font-size: 16px;padding:12px;}
.neo-btn-close{font-size: 20px;padding:3px 7px;}

/* borda dos botoes */
.neo-btn-circle {width: 50px;height: 50px;border-radius: 50%;display: inline-flex;align-items: center;justify-content: center;padding: 0;}

/* tipo de botao displayier */
.neo-btn-block{display: block!important;}


/* Animacao ao clicar */
.neo-btn-active{
    transition: transform var(--neo-bounce), background-color 0.2s ease;
}
.neo-btn-active:active {
    transform: scale(0.95);
}