/* Container que agrupa os botões */
:root {
  /* Aqui você define o valor padrão da sua biblioteca */
  --neo-radius: 2px; 
}

.neo-btn-group {
    display: inline-flex;
    border-radius: var(--neo-radius, 12px); /* Arredondamento padrão da sua lib */
    overflow: hidden; /* Garante que os botões não "saiam" da borda arredondada */

}

.neo-btn-group .neo-btn {
    /* Remove o arredondamento de todos os botões por padrão dentro do grupo */
    border-radius: 0;
    margin: 0;

}

/* O PRIMEIRO botão do grupo */
.neo-btn-group .neo-btn:first-child {
    border-top-left-radius: var(--neo-radius, 12px);
    border-bottom-left-radius: var(--neo-radius, 12px);
}

/* O ÚLTIMO botão do grupo */
.neo-btn-group .neo-btn:last-child {
    border-top-right-radius: var(--neo-radius, 12px);
    border-bottom-right-radius: var(--neo-radius, 12px);
   
}

.neo-btn-group-vertical {
    display: inline-flex;
    flex-direction: column; /* Coloca um embaixo do outro */
    border-radius: var(--neo-radius, 12px);
    overflow: hidden;
    width: fit-content;
}

.neo-btn-group-vertical .neo-btn {
    border-radius: 0;
    margin: 0;
    /* border-bottom: 1px solid rgba(255,255,255,0.2)!important; Divisória horizontal */
}

/* O PRIMEIRO botão (arredonda só o topo) */
.neo-btn-group-vertical .neo-btn:first-child {
    border-top-left-radius: var(--neo-radius, 12px);
    border-top-right-radius: var(--neo-radius, 12px);
}

/* O ÚLTIMO botão (arredonda só a base) */
.neo-btn-group-vertical .neo-btn:last-child {
    border-bottom-left-radius: var(--neo-radius, 12px);
    border-bottom-right-radius: var(--neo-radius, 12px);
    
}